* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Mono", monospace;
}

a {
    color: #000;
}

.nav {
    height: 80px;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    display: flex;
    gap: 40px;
}

.hero {
    height: 100dvh;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
}

.hero-content {
    width: 60%;
    height: 80%;
    border: #000 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;

    gap: 50px;
    margin-top: 30px;
}

.cta1 {
    padding: 15px 50px;
    background-color: rgb(208, 135, 222);
}

.cta2 {
    padding: 15px 50px;
    background-color: rgb(177, 109, 21);
}


.hero-img {
    width: 30%;
    display: flex;
    align-items: center;
    background-color: chocolate;
}

.hero-img img {
    width: 100%;
}

.container {
    height: 100dvh;
    display: flex;
}

.format-problem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.format-problem img {
    height: 70%;
}

.problem-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 50%;
}

.problem-content h2 {
    display: flex;
    justify-content: center;
}

.card-problem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.item-problem {
    width: 40%;
}

.format-tecnology {
    width: 90%;
    border: #000 1px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
}

.card-tecnology {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.item-tecnology {
    width: 40%;
    border: #ccc 1px solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.format-objective{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.format-objective h2{
    display: flex;
    justify-content: flex-start;
}

.card-objective{
    display: flex;
}